/* menu */
@font-face {
    font-family: "DIN-Regular";
    src: url('./fonts/DINRg___.ttf');
}
@font-face {
    font-family: "DIN-Bold";
    src: url('./fonts/DINBd___.ttf');
}

.noire{
    opacity:0.4;

}
.main{
	width:1000px;
	margin:auto;
	margin-top:30px;
}

h1{
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 20;
    font-size: 40px;
    font-family: "DIN-Black", sans-serif;
    color: #63656a;
    text-shadow: 5px 5px 4px rgba(150, 150, 150, 0.31);
}

h1 span
{
    color: #ffce00;
}

.langue
{position:absolute;
    left:955px;
    top:80px;
    display: inline-block;
    font-family: "DIN-Black", sans-serif;
    font-size: 12pt;
    color: #ff4e00;

}

#rubriques{
    margin-bottom:30px; 
}

#rubriqueEnseignement{

}
#rubriqueEnseignement .titre{
    background: rgb(12,87,172); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBjNTdhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YTgwYmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(12,87,172,1) 0%, rgba(74,128,188,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,87,172,1)), color-stop(100%,rgba(74,128,188,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(12,87,172,1) 0%,rgba(74,128,188,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(12,87,172,1) 0%,rgba(74,128,188,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(12,87,172,1) 0%,rgba(74,128,188,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(12,87,172,1) 0%,rgba(74,128,188,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c57ac', endColorstr='#4a80bc',GradientType=0 ); /* IE6-8 */
}

#rubriqueEnseignement .titre span{
    font-size: 120%;
}
#rubriqueEnseignement img{
    position: absolute;
}


#rubriqueInternational{

}

#rubriqueInternational .titre{    
    background: rgb(41,143,36); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5OGYyNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1NjljNTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(41,143,36,1) 0%, rgba(86,156,83,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,143,36,1)), color-stop(100%,rgba(86,156,83,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(41,143,36,1) 0%,rgba(86,156,83,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(41,143,36,1) 0%,rgba(86,156,83,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(41,143,36,1) 0%,rgba(86,156,83,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(41,143,36,1) 0%,rgba(86,156,83,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298f24', endColorstr='#569c53',GradientType=0 ); /* IE6-8 */

}

#rubriqueInternational span{
    font-size: 120%;
}
#rubriqueInternational img{
    position: absolute;
}

#rubriqueMetiersStages{

}
#rubriqueMetiersStages .titre{
    background: rgb(228,91,0); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0NWIwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDVjMjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(228,91,0,1) 0%, rgba(228,92,39,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,91,0,1)), color-stop(100%,rgba(228,92,39,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(228,91,0,1) 0%,rgba(228,92,39,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(228,91,0,1) 0%,rgba(228,92,39,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(228,91,0,1) 0%,rgba(228,92,39,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(228,91,0,1) 0%,rgba(228,92,39,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e45b00', endColorstr='#e45c27',GradientType=0 ); /* IE6-8 */

}

#rubriqueMetiersStages span{
    font-size: 120%;
}
#rubriqueMetiersStages img{
    position: absolute;
}


#rubriqueEquipesRecherche{

}
#rubriqueEquipesRecherche .titre{
    background: rgb(254,166,40); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYTYyOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjk2MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(254,166,40,1) 0%, rgba(255,150,0,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,166,40,1)), color-stop(100%,rgba(255,150,0,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(254,166,40,1) 0%,rgba(255,150,0,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(254,166,40,1) 0%,rgba(255,150,0,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(254,166,40,1) 0%,rgba(255,150,0,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(254,166,40,1) 0%,rgba(255,150,0,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fea628', endColorstr='#ff9600',GradientType=0 ); /* IE6-8 */

}
#rubriqueEquipesRecherche span{
    font-size: 120%;
}
#rubriqueEquipesRecherche img{
    position: absolute;
}

#rubriqueProjets{

}
#rubriqueProjets .titre{
    background: rgb(229,100,103); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1NjQ2NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMTNjNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(229,100,103,1) 0%, rgba(241,60,64,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,100,103,1)), color-stop(100%,rgba(241,60,64,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(229,100,103,1) 0%,rgba(241,60,64,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(229,100,103,1) 0%,rgba(241,60,64,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(229,100,103,1) 0%,rgba(241,60,64,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(229,100,103,1) 0%,rgba(241,60,64,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e56467', endColorstr='#f13c40',GradientType=0 ); /* IE6-8 */

}
#rubriqueProjets span{
    font-size: 120%;
}
#rubriqueProjets img{
    position: absolute;
}

#rubriqueInformationsPratiques{

}
#rubriqueInformationsPratiques .titre{
    background: rgb(63,190,238); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNmYmVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMGFjZWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  rgba(63,190,238,1) 0%, rgba(0,172,237,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(63,190,238,1)), color-stop(100%,rgba(0,172,237,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(63,190,238,1) 0%,rgba(0,172,237,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(63,190,238,1) 0%,rgba(0,172,237,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(63,190,238,1) 0%,rgba(0,172,237,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(63,190,238,1) 0%,rgba(0,172,237,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3fbeee', endColorstr='#00aced',GradientType=0 ); /* IE6-8 */

}

#rubriqueInformationsPratiques span{
    font-size: 120%;
}

#rubriqueInformationsPratiques img{
    position: absolute;
}

.logoUTC{
}

.bienvenue{
    text-align:center;
    font-family: "DIN-Black", sans-serif;
    font-size: 20pt;
    color: #ff4e00;
    text-shadow: 5px 5px 4px rgba(150, 150, 150, 0.41);
}

.titre{
    width:290px; height:30px;
    text-align: center;
    color:white;
    font-family: "DIN-Bold", sans-serif;
    font-variant: small-caps;
    font-size: 18pt;
    text-shadow: 3px 4px 4px rgba(50, 50, 50, 0.61);
}

#rubriques a{
    width:290px; height:187px;
    margin: 15px;
    display: inline-block;
    box-shadow: 5px 5px 4px rgba(150, 150, 150, 0.5);
    text-decoration:none; 
    position: relative;
}
